.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.env
*.env.*
*.local
*.secret
.envrc
config/settings/local.py

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
*.log
*.pot
*.pyc
*.manifest
*.spec

db.sqlite3
db.sqlite3-journal

media/
staticfiles/
static_root/
static/

*.jwt
*.token

Backend/.environment/*

# Permitir apenas os arquivos de exemplo
!Backend/.environment/.env.django.example

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
coverage/
.tmp/
.sass-cache/

.angular/
.angular/cache/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

