__pycache__/
*.py[cod]
*$py.class

*.so

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.local
*.secret
*.env
*.env.*
.envrc
config/settings/local.py

*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/
static/
__pycache__/

*.jwt
*.token

!*Backend/.environment/.env.postgres.example
!*Backend/.environment/.env.django.example

Backend/.environment/.env.postgres
Backend/.environment/.env.django

*.manifest
*.spec

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini



